.angryverse-navigation-menu {
  --opacity-hover: 0.75;
}
.angryverse-navigation-menu .is-style-angryverse-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .angryverse-navigation-menu
    .is-style-angryverse-links
    .wp-block-button:first-child
    .wp-block-button__link {
    padding-left: 0;
  }
  .angryverse-navigation-menu
    .is-style-angryverse-links
    .wp-block-button:last-child
    .wp-block-button__link {
    padding-right: 0;
  }
}
.angryverse-navigation-menu .is-style-angryverse-links .wp-block-button__link {
  align-items: center;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  color: var(--color-white);
  display: flex;
  flex-flow: row;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  position: relative;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}
@media (min-width: 782px) {
  .angryverse-navigation-menu
    .is-style-angryverse-links
    .wp-block-button__link {
    font-size: var(--font-size-md);
  }
}
.angryverse-navigation-menu
  .is-style-angryverse-links
  .wp-block-button__link:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 1.6em;
  width: 1.6em;
}
@media (min-width: 782px) {
  .angryverse-navigation-menu
    .is-style-angryverse-links
    .wp-block-button__link:before {
    height: 2.6em;
    width: 2.6em;
  }
}
.angryverse-navigation-menu
  .is-style-angryverse-links
  .wp-block-button__link:focus,
.angryverse-navigation-menu
  .is-style-angryverse-links
  .wp-block-button__link:hover {
  opacity: var(--opacity-hover);
}
.angryverse-navigation-menu
  .is-style-angryverse-links
  .wp-block-button:first-child
  > .wp-block-button__link {
  flex-flow: row;
}
.angryverse-navigation-menu
  .is-style-angryverse-links
  .wp-block-button:first-child
  > .wp-block-button__link:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjQgNDhjMTMuMjU1IDAgMjQtMTAuNzQ1IDI0LTI0UzM3LjI1NSAwIDI0IDAgMCAxMC43NDUgMCAyNHMxMC43NDUgMjQgMjQgMjRabTIuODc2LTE1LjUyMWExLjUgMS41IDAgMCAxLTIuMzIyIDEuOUwxNi4wNjIgMjRsOC40OTItMTAuMzc4YTEuNSAxLjUgMCAwIDEgMi4zMjIgMS45TDE5LjkzOSAyNGw2LjkzNyA4LjQ3OVoiIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPgo=);
  margin-right: 1em;
}
.angryverse-navigation-menu
  .is-style-angryverse-links
  .wp-block-button:nth-child(2)
  > .wp-block-button__link {
  flex-flow: row-reverse;
}
.angryverse-navigation-menu
  .is-style-angryverse-links
  .wp-block-button:nth-child(2)
  > .wp-block-button__link:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjQgMEMxMC43NDUgMCAwIDEwLjc0NSAwIDI0czEwLjc0NSAyNCAyNCAyNCAyNC0xMC43NDUgMjQtMjRTMzcuMjU1IDAgMjQgMFptLTIuODc2IDE1LjUyMWExLjUgMS41IDAgMCAxIDIuMzIyLTEuOUwzMS45MzggMjRsLTguNDkyIDEwLjM3OGExLjUgMS41IDAgMCAxLTIuMzIyLTEuOUwyOC4wNjEgMjRsLTYuOTM3LTguNDc5WiIgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+Cg==);
  margin-left: 1em;
}
.ab-block-angryverse-slider {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  position: relative;
  width: auto !important;
  z-index: 1;
}
.ab-block-angryverse-slider h4 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.ab-block-angryverse-slider__slider {
  width: 100%;
}
.ab-block-angryverse-slider__slide {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.ab-block-angryverse-slider__slide__assets {
  perspective: 1000px;
}
.ab-block-angryverse-slider__slide .hero-asset {
  filter: brightness(0);
  opacity: 0;
  transform: translateZ(0) scale(0.1, 0) rotate(5deg);
  transition: all 0.75s cubic-bezier(0.7, 0, 0.84, 0);
}
.ab-block-angryverse-slider__slide.active .hero-asset {
  filter: brightness(1);
  opacity: 1;
  transform: translateZ(0) scale(1) rotate(0deg);
  transition: all 1.75s cubic-bezier(0.16, 1, 0.3, 1) 1s;
}
.ab-block-angryverse-slider__slide .ab-block-background-assets__asset {
  filter: brightness(0);
  opacity: 0;
  transform: translateZ(0) scale(0.2, 0);
  transition: all 0.35s cubic-bezier(0.5, 0, 0.75, 0);
}
.ab-block-angryverse-slider__slide
  .ab-block-background-assets__asset:nth-child(2) {
  transition-delay: 0s !important;
}
.ab-block-angryverse-slider__slide
  .ab-block-background-assets__asset:nth-child(3) {
  transition-delay: 0.1s !important;
}
.ab-block-angryverse-slider__slide
  .ab-block-background-assets__asset:nth-child(4) {
  transition-delay: 0.2s !important;
}
.ab-block-angryverse-slider__slide
  .ab-block-background-assets__asset:nth-child(5) {
  transition-delay: 0.3s !important;
}
.ab-block-angryverse-slider__slide
  .ab-block-background-assets__asset:nth-child(6) {
  transition-delay: 0.4s !important;
}
.ab-block-angryverse-slider__slide
  .ab-block-background-assets__asset:nth-child(7) {
  transition-delay: 0.5s !important;
}
.ab-block-angryverse-slider__slide
  .ab-block-background-assets__asset:nth-child(8) {
  transition-delay: 0.6s !important;
}
.ab-block-angryverse-slider__slide
  .ab-block-background-assets__asset:nth-child(9) {
  transition-delay: 0.7s !important;
}
.ab-block-angryverse-slider__slide
  .ab-block-background-assets__asset:nth-child(10) {
  transition-delay: 0.8s !important;
}
.ab-block-angryverse-slider__slide
  .ab-block-background-assets__asset:nth-child(11) {
  transition-delay: 0.9s !important;
}
.ab-block-angryverse-slider__slide.active .ab-block-background-assets__asset {
  filter: brightness(1);
  opacity: 1;
  transform: translateZ(0) scale(1);
  transition: all 1.5s cubic-bezier(0.87, 0, 0.13, 1);
}
.ab-block-angryverse-slider__slide.active
  .ab-block-background-assets__asset:nth-child(2) {
  transition-delay: 0.5s !important;
}
.ab-block-angryverse-slider__slide.active
  .ab-block-background-assets__asset:nth-child(3) {
  transition-delay: 0.65s !important;
}
.ab-block-angryverse-slider__slide.active
  .ab-block-background-assets__asset:nth-child(4) {
  transition-delay: 0.8s !important;
}
.ab-block-angryverse-slider__slide.active
  .ab-block-background-assets__asset:nth-child(5) {
  transition-delay: 0.95s !important;
}
.ab-block-angryverse-slider__slide.active
  .ab-block-background-assets__asset:nth-child(6) {
  transition-delay: 1.1s !important;
}
.ab-block-angryverse-slider__slide.active
  .ab-block-background-assets__asset:nth-child(7) {
  transition-delay: 1.25s !important;
}
.ab-block-angryverse-slider__slide.active
  .ab-block-background-assets__asset:nth-child(8) {
  transition-delay: 1.4s !important;
}
.ab-block-angryverse-slider__slide.active
  .ab-block-background-assets__asset:nth-child(9) {
  transition-delay: 1.55s !important;
}
.ab-block-angryverse-slider__slide.active
  .ab-block-background-assets__asset:nth-child(10) {
  transition-delay: 1.7s !important;
}
.ab-block-angryverse-slider__slide.active
  .ab-block-background-assets__asset:nth-child(11) {
  transition-delay: 1.85s !important;
}
.ab-block-angryverse-slider__slide
  .is-style-sonic
  .ab-block-background-assets__asset,
.ab-block-angryverse-slider__slide.active
  .is-style-sonic
  .ab-block-background-assets__asset {
  filter: none !important;
}
.ab-block-angryverse-slider__slide.active
  .is-style-sonic-dream-blast
  .ab-block-background-assets__asset[data-position="6"] {
  transform: translateZ(0) scale(1) rotate(0);
}
.ab-block-angryverse-slider__slide .ab-block-angryverse-slider__footer {
  opacity: 0;
  transform: translateY(200%) scaleY(0.75);
  transform-origin: center bottom;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}
.ab-block-angryverse-slider__slide.active .ab-block-angryverse-slider__footer {
  opacity: 1;
  transform: translateY(0) scaleY(1);
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1) 1s;
}
.ab-block-angryverse-slider__slide .ab-block-background-assets__background {
  opacity: 0;
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}
.ab-block-angryverse-slider__slide .ab-block-background-assets__background img {
  transform: scale(1.5) translateZ(0);
  transition: transform 2s cubic-bezier(0.11, 0, 0.5, 0);
}
.ab-block-angryverse-slider__slide.active
  .ab-block-background-assets__background {
  opacity: 1;
  transition: all 1s cubic-bezier(0.5, 0, 0.75, 0) 0.35s;
}
.ab-block-angryverse-slider__slide.active
  .ab-block-background-assets__background
  img {
  transform: scale(1) translateZ(0);
  transition: transform 2s cubic-bezier(0.16, 1, 0.3, 1) 0.35s;
}
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-angryverse-slider__footer,
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets
  .hero-asset,
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets__asset:nth-child(2),
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets__background,
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets__background
  img {
  transition-delay: 0s !important;
}
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets__asset:nth-child(3) {
  transition-delay: 0.15s !important;
}
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets__asset:nth-child(4) {
  transition-delay: 0.3s !important;
}
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets__asset:nth-child(5) {
  transition-delay: 0.45s !important;
}
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets__asset:nth-child(6) {
  transition-delay: 0.6s !important;
}
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets__asset:nth-child(7) {
  transition-delay: 0.75s !important;
}
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets__asset:nth-child(8) {
  transition-delay: 0.9s !important;
}
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets__asset:nth-child(9) {
  transition-delay: 1.05s !important;
}
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets__asset:nth-child(10) {
  transition-delay: 1.2s !important;
}
.ab-block-angryverse-slider:not(.initial-animation-complete)
  .ab-block-background-assets__asset:nth-child(11) {
  transition-delay: 1.35s !important;
}
.ab-block-angryverse-slider__slide .ab-block-background-assets {
  background-color: transparent !important;
  height: 100vh;
}
.ab-block-angryverse-slider__slide
  .ab-block-background-assets__inner-container {
  height: 100%;
}
.ab-block-angryverse-slider__slide .ab-block-background-assets .hero-asset a {
  filter: none !important;
}
.ab-block-angryverse-slider__slide .ab-block-background-assets__asset,
.ab-block-angryverse-slider__slide .ab-block-background-assets__asset img {
  max-width: 20vw;
}
@media (min-width: 600px) {
  .ab-block-angryverse-slider__slide .ab-block-background-assets__asset,
  .ab-block-angryverse-slider__slide .ab-block-background-assets__asset img {
    max-width: 20vw;
  }
}
@media (min-width: 960px) {
  .ab-block-angryverse-slider__slide .ab-block-background-assets__asset,
  .ab-block-angryverse-slider__slide .ab-block-background-assets__asset img {
    max-width: none;
  }
}
.ab-block-angryverse-slider__slide.active {
  pointer-events: auto;
  z-index: 2;
}
.ab-block-angryverse-slider__slide-wrapper {
  height: 100%;
  margin: 0 !important;
  max-width: none !important;
  width: 100%;
}
.ab-block-angryverse-slider__slide-wrapper > div {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
.ab-block-angryverse-slider__footer {
  bottom: 1rem;
  left: 0;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  max-height: 40vh;
  position: absolute;
}
.ab-block-angryverse-slider__footer .wp-block-group__inner-container {
  text-align: center;
}
.ab-block-angryverse-slider__footer figure {
  height: 100%;
}
.ab-block-angryverse-slider__footer figure img {
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
.ab-block-angryverse-slider figure.angryverse-logo {
  margin: 0 !important;
}
.ab-block-angryverse-slider figure {
  height: 100%;
}
.ab-block-angryverse-slider figure img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.ab-block-angryverse-slider__header {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}
.ab-block-angryverse-slider__controls,
.ab-block-angryverse-slider__editor .ab-block-angryverse-slider__controls {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 6rem;
  width: 100%;
}
.ab-block-angryverse-slider__controls.is-hidden,
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls.is-hidden {
  display: none;
}
.ab-block-angryverse-slider__controls__arrows,
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__arrows {
  display: flex;
  font-size: 0;
  justify-content: space-between;
  width: 100%;
}
.ab-block-angryverse-slider__controls__next,
.ab-block-angryverse-slider__controls__prev,
.ab-block-angryverse-slider__editor .ab-block-angryverse-slider__controls__next,
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__prev {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 3.2rem;
  padding: 0;
  transition: all 0.35s cubic-bezier(0.16, 1, 0.3, 1);
  width: 3.2rem;
}
.ab-block-angryverse-slider__controls__next:not([disabled]),
.ab-block-angryverse-slider__controls__prev:not([disabled]),
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__next:not([disabled]),
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__prev:not([disabled]) {
  filter: drop-shadow(0 0 1.5rem rgba(150, 160, 239, 0.45));
}
.ab-block-angryverse-slider__controls__next:not([disabled]):hover,
.ab-block-angryverse-slider__controls__prev:not([disabled]):hover,
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__next:not([disabled]):hover,
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__prev:not([disabled]):hover {
  filter: drop-shadow(0 0 1.5rem rgba(150, 160, 239, 0.75));
}
.ab-block-angryverse-slider__controls__next[disabled],
.ab-block-angryverse-slider__controls__prev[disabled],
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__next[disabled],
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__prev[disabled] {
  cursor: default;
  opacity: 0.5;
}
@media (min-width: 782px) {
  .ab-block-angryverse-slider__controls__next,
  .ab-block-angryverse-slider__controls__prev,
  .ab-block-angryverse-slider__editor
    .ab-block-angryverse-slider__controls__next,
  .ab-block-angryverse-slider__editor
    .ab-block-angryverse-slider__controls__prev {
    height: 4.8rem;
    width: 4.8rem;
  }
}
.ab-block-angryverse-slider__controls__prev,
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__prev {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjQgNDhjMTMuMjU1IDAgMjQtMTAuNzQ1IDI0LTI0UzM3LjI1NSAwIDI0IDAgMCAxMC43NDUgMCAyNHMxMC43NDUgMjQgMjQgMjRabTIuODc2LTE1LjUyMWExLjUgMS41IDAgMCAxLTIuMzIyIDEuOUwxNi4wNjIgMjRsOC40OTItMTAuMzc4YTEuNSAxLjUgMCAwIDEgMi4zMjIgMS45TDE5LjkzOSAyNGw2LjkzNyA4LjQ3OVoiIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPgo=);
  margin-right: 2rem !important;
}
.ab-block-angryverse-slider__controls__prev:not([disabled]):hover,
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__prev:not([disabled]):hover {
  transform: scale(1.5) rotate(-5deg);
}
.ab-block-angryverse-slider__controls__prev:not([disabled]):active,
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__prev:not([disabled]):active {
  transform: scale(1.2) rotate(5deg);
}
.ab-block-angryverse-slider__controls__next,
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjQgMEMxMC43NDUgMCAwIDEwLjc0NSAwIDI0czEwLjc0NSAyNCAyNCAyNCAyNC0xMC43NDUgMjQtMjRTMzcuMjU1IDAgMjQgMFptLTIuODc2IDE1LjUyMWExLjUgMS41IDAgMCAxIDIuMzIyLTEuOUwzMS45MzggMjRsLTguNDkyIDEwLjM3OGExLjUgMS41IDAgMCAxLTIuMzIyLTEuOUwyOC4wNjEgMjRsLTYuOTM3LTguNDc5WiIgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+Cg==);
}
.ab-block-angryverse-slider__controls__next:not([disabled]):hover,
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__next:not([disabled]):hover {
  transform: scale(1.5) rotate(5deg);
}
.ab-block-angryverse-slider__controls__next:not([disabled]):active,
.ab-block-angryverse-slider__editor
  .ab-block-angryverse-slider__controls__next:not([disabled]):active {
  transform: scale(1.2) rotate(-5deg);
}
.ab-block-angryverse-slider__pagination {
  bottom: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}
.ab-block-angryverse-slider__pagination__align {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.ab-block-angryverse-slider__pagination__width {
  max-width: 600px;
  overflow: hidden;
  pointer-events: auto;
  width: 100%;
}
.ab-block-angryverse-slider__pagination .slider-pagination-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  overflow-x: hidden;
  overflow-y: visible;
  padding: 0 0 10px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.ab-block-angryverse-slider__pagination .slider-pagination-button:before {
  background-color: hsla(0, 0%, 100%, 0.15);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
}
.ab-block-angryverse-slider__pagination .slider-pagination-progress-bar {
  background-color: #fff;
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transform-origin: left bottom;
  transition: opacity 0.5s linear;
}
.ab-block-angryverse-slider__pagination
  .slider-pagination-progress-bar.is-ending {
  opacity: 0 !important;
}
.ab-block-angryverse-slider__pagination .keen-slider {
  overflow: visible !important;
}
.ab-block-angryverse-slider__pagination .keen-slider__slide {
  opacity: 0.5;
  transition: opacity 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.ab-block-angryverse-slider__pagination
  .keen-slider__slide:not(.is-active)
  .slider-pagination-progress-bar {
  opacity: 0;
  visibility: hidden;
}
.ab-block-angryverse-slider__pagination .keen-slider__slide:hover {
  opacity: 1;
}
.ab-block-angryverse-slider__pagination .keen-slider__slide.is-active {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.ab-block-angryverse-slider__pagination
  .keen-slider__slide.is-active
  .slider-pagination-progress-bar {
  opacity: 1;
  visibility: visible;
}
